.hide-chart {
	display: none;
}

.switch-chart-buttons {
	margin: 0 auto;
	text-align: center;
}

.charts-view {
	height: 100%;
	width: 100%;
}

.chart-no-data {
	text-align: center;
	padding-top: 4em;
}

/* TODO: find out to how to make it blue */
.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
	filter: invert(100%);
}

.carousel-control-prev, .carousel-control-next {
	width: 2% !important;
}

#barChart, #heatMap {
	margin: 0 auto 0 auto;
	width: 95%;
}

.svg-container, .main-svg, .subplot .xy {
	width: 100%!important;
}