.collapsible {
	margin-bottom: 0.25em;
}

.add-step-btn {
	margin-top: 1em;
}

.overflow-visible {
	overflow: visible !important;
}

.filter-text {
	margin: 0px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.hide-filter-step {
	display: none;
}
.select-form {
	height: 100% !important;
}

.step-number {
	text-align: center;
	vertical-align: middle;
	font-size: 1.5em;
	margin: auto;
	font-weight: bold;;
}

.arrow-button {
	padding: 0.1em !important;
	margin-right: 5px;
}