.filter-body {
	color: darkgray;
}

.filter-arrow {
	padding: 0em;
}

.filter-header {
	color: black;
}

.filter-alert {
	border-radius: 0rem !important;
}

.card {
	border-left: 0px !important;
	border-right: 0px !important;

	border-radius: 0rem !important;
}

.hide-alert {
	visibility: hidden;
}

.loose-alert {
	height: 48px;
}

.add-step-btn {
	height: 48px;
}