.App {
	color: white;
	background-color: #435165;
	padding: 1em;
}

.App-link {
	color: #61dafb;
}

.grid-container {
	display: grid;
	height: 100vh;
	grid-gap: 1em;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: 1fr 1fr 50px;
}

.item-container {
	background-color: #ffffff;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	padding: 1em;
	color: #5b6574;
}

.parallel-container {
	justify-self: stretch;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.filter-container {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.chart-container {
	justify-self: stretch;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.colorbar-container {
	justify-self: stretch;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	padding: 0 !important;
}

h1 {
	text-align: center;
	color: #5b6574;
	font-size: 2.5 rem;
}
